@page "/"

<PageTitle>Home</PageTitle>
@* Header START *@
<div class="header-div">
    <div class="header-logo">
        Radexx PC
    </div>
    <div class="horizontal-line"></div>
    <div class="header-searchbar">
        <div></div>
        <div>

        </div>
    </div>
</div>
@* Header END *@